*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 5000;
}
.header-inner {
    padding: 0 32px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: sticky;
    color: black;
    width: 100%;
    max-width: 1440px;
}


hr {
    max-width: 1376px;
    width: calc(100% - 64px); /* Ensures at least 32px margin on both sides */
    margin: 0 auto;
    border-bottom: 2px solid;
}

.left {
    display: flex; /* Places divs side by side */
    align-items: center;
}

.left img:first-of-type{
    margin-right: 20px ;

}

.left div {
    padding: 0 12px; /* Adds spacing between elements */
}
.left div:first-of-type {
    padding: 0 12px; /* Adds spacing between elements */
    margin-left: 12px;
}

.he-ri{
    padding: 0 12px;
}

.wrapper-layout{
    max-width: 1440px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
}

.ribbon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    font-size: large;
}

.container {
    max-width: 1376px;
    min-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensures spacing */
    margin: 0 auto;
}

.container-left {
    width: calc((1440px - 300px) * 0.4 + 300px * 0.4);
    background-color: lightblue;
}

.container-middle {
    width: calc((1440px - 300px) * 0.3 + 300px * 0.3);
    background-color: lightgreen;
}

.container-right {
    width: calc((1440px - 300px) * 0.2 + 300px * 0.2);
    background-color: lightcoral;
}
